body {
	margin: 0px;
    padding: 0px;
    background-image: linear-gradient(black, #110042, black);
    overflow-x: hidden;
    color: white;
}
header{
	background-image: linear-gradient(to bottom, #110042, black);
    width: 100vw;
    height: 50px;
	border: 0px;
	padding: 1px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}
footer{
	background-image: linear-gradient(to bottom, black,#110042);
	position: fixed;
	width: 100vw;
	border: 0px;
	padding: 0px;
    margin: 0px;
	bottom: 0;
    z-index: 10;
    overflow: hidden;
}

aside{
    background-color: #c831ff8f;
    box-shadow: 0 0 15px #110042;
    width: 8vw;
    height: 80vh;
    border: 15px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 30px;
    z-index: 3;
    transition: 1s;
}
aside:hover{
    /*un trasparent on hover*/
    /*rounded button */
    box-shadow: 0 0 20px #1e0079;
    transition: 1s;

}

section{
    background-color: rgba(0, 0, 0, 0);
    width: max-content;
    border: 5px;
	padding: 5px;
    border-radius: 5px;
}

div{
    background-color: rgb(100,100,100);
    border: 5px;
	padding: 5px;
    width: max-content;
    height: min-content;
}

.Nav{
    background-image: radial-gradient( rgb(89, 25, 55), black);
    border: 5px;
    padding: 10px;
    width: max-content;
    height: min-content;
    box-shadow: 0 0 10px #c831ff91;
    transition: 1s;
}
.Nav:hover{
    box-shadow: 0 0 15px #c831ff;
    transition: 1s;
}
.Nav:active{
    box-shadow: 0 0 15px rgb(246, 246, 246);
    transition: 0.1s;
}

.MainRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(0, 0, 0, 0)
}
#P1, #P2, #P3, #P4, #P5, #P6{
    width: 250px;
    height: 250px;
    border: 5px;
	padding: 5px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    height: 100vh;
    width: 85vw;

  }