html *{
    font-family: sans-serif;
}
body {
	margin: 0px;
    padding: 0px;
    background-image: linear-gradient(black, #110042, black);
    overflow-x: hidden;
    color: white;
}
header{
	background-image: linear-gradient(to bottom, #110042, black);
    width: 100vw;
    height: 60px;
	border: 0px;
	padding: 1px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}
footer{
	background-image: linear-gradient(to bottom, black,#110042);
	position: fixed;
	width: 100vw;
	border: 0px;
	padding: 0px;
    margin: 0px;
	bottom: 0;
    z-index: 10;
    overflow: hidden;
}

aside{
    background-color: #c831ff8f;
    box-shadow: 0 0 15px #110042;
    width: 8vw;
    height: 80vh;
    border: 15px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 30px;
    z-index: 3;
    transition: 1s;
}
aside:hover{
    /*un trasparent on hover*/
    /*rounded button */
    box-shadow: 0 0 20px #1e0079;
    transition: 1s;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
#searchTerm {
    width: min-content;
    border: 2px solid #c831ff8f;
    padding: 5px;
    height: 20px;
    color: #110042;
    margin-bottom: 10px;
}

#searchTerm:focus{
    color: #c831ff8f;
    box-shadow: 0 0 25px #110042;
}

#searchButton {
    width: 35px;
    height: 30px;
    border: 1px solid #c831ff8f;
    background: #c831ff8f;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    margin-left: 10px;
}
#searchButton:active{
    background: white;
    transition: 0.1s;
}
input:focus {
    outline: none;
}

section{
    background-color: rgba(0, 0, 0, 0);
    width: max-content;
    border: 5px;
	padding: 5px;
    border-radius: 5px;
}

div{
    border: 5px;
	padding: 5px;
    width: max-content;
}

.Nav{
    background-color: #c831ff8f;
    border: 5px;
    padding: 10px;
    width: max-content;
    height: min-content;
    box-shadow: 0 0 10px #c831ff91;
    transition: 1s;
}
.Nav:hover{
    box-shadow: 0 0 15px #c831ff;
    transition: 1s;
}
.Nav:active{
    box-shadow: 0 0 25px rgb(246, 246, 246);
    transition: 0.1s;
}
#draw, #center, #cola {
    background-color: #c831ff8f;
    border: 5px;
    padding: 10px;
    width: max-content;
    height: min-content;
    box-shadow: 0 0 10px #c831ff91;
    transition: 1s;
}
#draw:hover, #center:hover, #cola:hover{
    box-shadow: 0 0 15px #c831ff;
    transition: 1s;
}
#draw:active, #center:active, #cola:active{
    box-shadow: 0 0 25px rgb(246, 246, 246);
    transition: 0.1s;
}

.MainRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(0, 0, 0, 0)
}

#cy {
    height: 80vh;
    width: 85vw;
    background-color: rgba(255, 255, 255, 0);
  }